// @import '--var.scss';
// @import '--mixing.scss';
@use 'var.scss';
@use 'mixing.scss';
@media (max-width: 576px) {
  .SearchTopDiv {
    padding: 10px 10px;
  }
  .pageTopBar {
    padding: 11px 10px;
    .pageTopBar_btn {
      right: 10px;
    }
  }
  .barsIconMob_two {
    display: block;
  }
  .mobW {
    width: 0;
  }
  .sidebar {
    position: absolute;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .barsIconMob_two {
    display: block;
  }
  .mobW {
    width: 0;
  }
  .sidebar {
    position: absolute;
    z-index: 1;
  }
}
@media (min-width: 1024px) {
  .barsIconMob_two {
    display: none;
  }
  .mobW {
    width: 65px;
  }
  .sidebar {
    position: unset;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .barsIconMob_two {
    display: none;
  }
  .mobW {
    width: 55px;
  }
}
