// @import '--var.scss';
// @import '--mixing.scss';
@use 'var.scss';
@use 'mixing.scss';
@media (max-width: 576px) {
  .PaginationDiv {
    .MuiPaginationItem-root {
      min-width: 25px !important;
      height: 25px !important;
      padding: 0 1px !important;
      margin: 0 1px !important;
    }
  }
  .StudentDetail_QrCode {
    p {
      margin-bottom: 16px;
    }
  }
  .StudentDetailDiv {
    padding: 10px 10px;
  }
  .PageBackBar {
    padding: 8px 10px;
    .CopyBtn {
      right: 20px;
    }
  }
  .RightMain {
    height: 42rem;
  }
  .formTop_div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .PaginationDiv {
    .MuiPaginationItem-previousNext {
      display: block !important;
    }
    .PaginationBtn {
      display: none;
    }
  }
  .myTable {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .my_con {
    padding-left: 10px;
    padding-right: 10px;
  }
  .SearchTopDiv {
    padding: 10px 10px;
  }
  .pageTopBar {
    padding: 11px 10px;
    .pageTopBar_btn {
      right: 10px;
    }
  }
  .barsIconMob_two {
    display: block;
  }
  .mobW {
    width: 0;
  }
  .sidebar {
    position: absolute;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .StudentDetailDiv {
    padding: 32px 32px;
  }
  .RightMain {
    height: 42rem;
  }
  .formTop_div {
    padding-left: 50px;
    padding-right: 50px;
  }
  .myTable {
    display: inline-table;
    overflow-x: hidden;
    white-space: unset;
  }
  .barsIconMob_two {
    display: block;
  }
  .mobW {
    width: 0;
  }
  .sidebar {
    position: absolute;
    z-index: 1;
  }
}
@media (min-width: 1024px) {
  .StudentDetailDiv {
    padding: 32px 50px;
  }
  .RightMain {
    height: 48rem;
  }
  .formTop_div {
    padding-left: 100px;
    padding-right: 100px;
  }
  .myTable {
    display: inline-table;
    overflow-x: hidden;
    white-space: unset;
  }
  .barsIconMob_two {
    display: none;
  }
  .mobW {
    width: 65px;
  }
  .sidebar {
    position: unset;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .StudentDetailDiv {
    padding: 32px 100px;
  }
  .formTop_div {
    padding-left: 200px;
    padding-right: 200px;
  }
  .myTable {
    display: inline-table;
    overflow-x: hidden;
    white-space: unset;
  }
  .barsIconMob_two {
    display: none;
  }
  .mobW {
    width: 55px;
  }
}
